<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FPUser" value="admin"/>
    <add key="FPPWD" value="P@ssw0rd"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="ExternalApiServiceSoapBinding" >
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Basic" />
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fds:8080/footprints/servicedesk/externalapisoap/ExternalApiServicePort"
                binding="basicHttpBinding" bindingConfiguration="ExternalApiServiceSoapBinding"
                contract="FP_ExtrenalService.ExternalApiService" name="ExternalApiServicePort" />
        </client>
    </system.serviceModel>
</configuration>